<div  fxFlex="100" > 
  <h4>Edit labels</h4>
  <div mat-dialog-content fxLayout="row" fxLayoutAlign="center center"> 
    <div >
          <mat-icon class="iconadd">close</mat-icon>
  </div>
      <!-- <mat-form-field class="lablearea" > -->
       
          <input matInput [formControl]="label_content" autocomplete="off" class="editInput">
        <!-- </mat-form-field> -->
     
        <mat-icon class="iconcheck">check</mat-icon>
  </div>
  
  <div  fxLayout="row" fxLayoutAlign="end end" >
     
    <button  mat-flat-button  [mat-dialog-close]="label_content" >close</button>
  </div>

</div>


