<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar  class="example-toolbar">
     
      <div fxFlex="5">
          <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
          <div fxFlex="5" fxLayout.gt-xs="row" fxFlex.gt-xs="500px" fxHide.xs>
           
            <h1 class="example-app-name">Keep</h1>
          </div>
    
        </div>
        <div fxFlex="50">
            <mat-form-field appearance="outline" [style.fontSize.px]="2" class="search">
              <button mat-icon-button>
                <mat-icon>search</mat-icon>
              </button>
              <input fxFlex="90" matInput placeholder="search" [style.fontSize.px]="18" class="searchText" autocomplete="off">
      
            </mat-form-field>
          </div>
      
          <div fxFlex="25" class="settingbtn">
            <button mat-icon-button color="basic" id="refresh" fxHide.xs matTooltip="refresh">
              <mat-icon>refresh</mat-icon>
            </button>
      
            <button mat-icon-button color="basic" id="grid" fxHide.xs matTooltip="grid">
              <mat-icon>border_all</mat-icon>
            </button>
       <div class="settings" >
            <button mat-icon-button [matMenuTriggerFor]="menu" colour="basic" matTooltip="settings">
              <mat-icon >settings</mat-icon>
            </button>
            <mat-menu #menu="matMenu" >
              <button mat-menu-item>Settings</button>
              <button mat-menu-item>Send feedback</button>
              <button mat-menu-item>App downloads</button>
              <button mat-menu-item>Keyboard Shaortcuts</button>
            </mat-menu>
      
            </div>
            <button mat-icon-button color="basic" fxHide.xs matTooltip="Notification">
              <mat-icon>notification_important </mat-icon>
            </button>
      
      
          </div>
      
      
      <button mat-icon-button color="basic" matTooltip="Apps">
            <mat-icon>apps</mat-icon>
          </button>
      
      <button mat-icon-button [matMenuTriggerFor]="menu1" colour="basic"  matTooltip=" GOOGLE ACCOUNT "
      [matTooltipClass]="'my-tooltip'">A
      
          </button>
        
          <mat-menu #menu1="matMenu">
            <button mat-fab disabled id="imagebutton">
            </button>
      
            <p>Akshaya M I</p>
      
            <button mat-menu-item></button>
            <mat-divider></mat-divider>
            <div>
              <button mat-flat-button (click)="addAccount()">Add account</button>
              <button mat-flat-button (click)="signout()">Sign out</button>
            </div>
          </mat-menu>
    </mat-toolbar>
    <mat-divider></mat-divider>
  
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
            <mat-list role="List">

        
                <mat-list-item role="listitem" id="note">
                  <img id="img1" src="../../../assets/image/note.svg" />
                  Note</mat-list-item>
      
                <mat-list-item role="listitem" id="rem">
                  <img id="img2" src="../../../assets/image/remainder.svg" />
                  Remainder</mat-list-item>
      
                <mat-divider></mat-divider>
                <p id="para">labels</p>
                <mat-list-item role="listitem" id="lable">
                  <mat-icon id="edit">edit</mat-icon>
                  Edit label
                </mat-list-item>
      
                <mat-divider></mat-divider>
                <mat-list-item role="listitem" id="arch">
                  <img id="img4" src="../../../assets/image/archieve.svg" />
                  Archive</mat-list-item>
      
                <mat-list-item role="listitem" id="bin">
                  <img id="img5" src="../../../assets/image/bin.svg" />
                  Trash</mat-list-item>
              </mat-list>
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
    <router-outlet>
        <!-- <app-notecard></app-notecard> -->
        <app-maincard></app-maincard>
      
    </router-outlet>
      
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>






















<!-- 


<div class="example-container" fxLayoutAlign="space-around start" fxFlex="100"  [class.example-is-mobile]="mobileQuery.matches">

 <mat-toolbar class="example-toolbar">
    <div fxFlex="5">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon class="menu">menu</mat-icon>
      </button>
      <div fxFlex="5" fxLayout.gt-xs="row" fxFlex.gt-xs="500px" fxHide.xs>
        <h1 class="example-app-name">Keep</h1>
      </div>

    </div>

    <div fxFlex="50">
      <mat-form-field appearance="outline" [style.fontSize.px]="2" class="search">
        <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
        <input fxFlex="90" matInput placeholder="search" [style.fontSize.px]="18" class="searchText" autocomplete="off">

      </mat-form-field>
    </div>

    <div fxFlex="25" class="settingbtn">
      <button mat-icon-button color="basic" id="refresh" fxHide.xs>
        <mat-icon>refresh</mat-icon>
      </button>

      <button mat-icon-button color="basic" id="grid" fxHide.xs>
        <mat-icon>border_all</mat-icon>
      </button>
 <div class="settings" >
      <button mat-icon-button [matMenuTriggerFor]="menu" colour="basic">
        <mat-icon >settings</mat-icon>
      </button>
      <mat-menu #menu="matMenu" >
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Send feedback</button>
        <button mat-menu-item>App downloads</button>
        <button mat-menu-item>Keyboard Shaortcuts</button>
      </mat-menu>

      </div>
      <button mat-icon-button color="basic" fxHide.xs>
        <mat-icon>notification_important </mat-icon>
      </button>


    </div>


<button mat-icon-button color="basic">
      <mat-icon>apps</mat-icon>
    </button>

<button mat-icon-button [matMenuTriggerFor]="menu1" colour="basic">A

    </button>
  
    <mat-menu #menu1="matMenu">
      <button mat-fab disabled id="imagebutton">
      </button>

      <p>Akshaya M I</p>

      <button mat-menu-item></button>
      <mat-divider></mat-divider>
      <div>
        <button mat-flat-button (click)="addAccount()">Add account</button>
        <button mat-flat-button (click)="signout()">Sign out</button>
      </div>
    </mat-menu>








<mat-divider></mat-divider>

 <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'">
      <mat-nav-list>
        
        <mat-list role="List">

        
          <mat-list-item role="listitem" id="note">
            <img id="img1" src="../../../assets/image/note.svg" />
            Note</mat-list-item>

          <mat-list-item role="listitem" id="rem">
            <img id="img2" src="../../../assets/image/remainder.svg" />
            Remainder</mat-list-item>

          <mat-divider></mat-divider>
          <p id="para">labels</p>
          <mat-list-item role="listitem" id="lable">
            <mat-icon id="edit">edit</mat-icon>
            Edit lable
          </mat-list-item>

          <mat-divider></mat-divider>
          <mat-list-item role="listitem" id="arch">
            <img id="img4" src="../../../assets/image/archieve.svg" />
            Archive</mat-list-item>

          <mat-list-item role="listitem" id="bin">
            <img id="img5" src="../../../assets/image/bin.svg" />
            Trash</mat-list-item>
        </mat-list>
      </mat-nav-list>
    </mat-sidenav>
   -->



















 






<!-- here                     -->





    <!-- <div class="NoteMenu">
       <mat-accordion>
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              note..
            </mat-panel-title>
            <mat-panel-description>

              <mat-icon id="newlist" (click)="check(1)" matTooltip="New list ">check_box</mat-icon>

              <mat-icon id="brush" matTooltip="Drawing is not available" aria-disabled="true">brush</mat-icon>
              <mat-icon id="insert" matTooltip="New note with image">insert_photo</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field id="note">
            <input matInput placeholder="Take a note" autocomplete="off">
          </mat-form-field>

          <div>
            <button matTooltip="Remaind me" mat-icon-button [matMenuTriggerFor]="menu4">
              <mat-icon>notification_important</mat-icon>
            </button>
            <mat-menu #menu4="matMenu" class="matmenu">
              <button class="arrow" mat-stroked-button>
                <mat-icon matTooltip="go back"> arrow_back</mat-icon>
              </button>
              <p>Pick date & time</p>
              <mat-divider></mat-divider>

              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>


            </mat-menu>

            <button matTooltip="collaborator" mat-icon-button>
              <mat-icon>person_add</mat-icon>
            </button>

            <button [matMenuTriggerFor]="menu5" matTooltip="change color" mat-icon-button>
              <mat-icon>color_lens</mat-icon>
            </button>
            <mat-menu #menu5="matMenu" class="colorsMenu">
              <button mat-mini-fab matTooltip="white" class="white" > </button>
              <button mat-mini-fab matTooltip="red" class="red"></button>
              <button mat-mini-fab matTooltip="orange" class="orange"></button>
              <button mat-mini-fab matTooltip="yellow" class="yellow"></button><br>
              <button mat-mini-fab matTooltip="green" class="green"></button>
              <button mat-mini-fab matTooltip="teal" class="teal"></button>
              <button mat-mini-fab matTooltip="Blue" class="blue"></button>
              <button mat-mini-fab matTooltip="Dark Blue" class=darkblue></button><br>
              <button mat-mini-fab matTooltip="purple" class="purple"></button>
              <button mat-mini-fab matTooltip="pink" class="pink"></button>
              <button mat-mini-fab matTooltip="Brown" class="Brown"></button>
              <button mat-mini-fab matTooltip="Gray" class="gray"></button>

            </mat-menu>

            <button matTooltip="add image" mat-icon-button>
              <mat-icon>insert_photo</mat-icon>
            </button>

           <img id="undo" src="../../../assets/image/undo.svg"/>
            <button matTooltip="Archive" mat-icon-button disabled=true>
              <mat-icon>undo</mat-icon>
            </button>

            <button matTooltip="undo" mat-icon-button disabled=true>
              <mat-icon>redo</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu2" matTooltip="more">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu2="matMenu">
              <button mat-menu-item>
                <span>Delete note</span>
              </button>
              <button mat-menu-item>
                <span>Add label</span>
              </button>
              <button mat-menu-item disabled>
                <span>Add drawing</span>
              </button>
              <button mat-menu-item>
                <span>Make a copy</span>
              </button>
              <button mat-menu-item>
                <span>Show checkboxes</span>
              </button>
              <button mat-menu-item>
                <span>Copy to google docs</span>
              </button>
            </mat-menu>


            <button mat-button (click)="close(0)">close</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion> 
    </div> -->



  <!-- </mat-sidenav-container> 
</mat-toolbar>

</div>  -->