<div fxLayoutAlign="center center" fxFlex="100">
  <mat-card fxFlex="50">
    <div>

      <mat-card-header class="header">
        <mat-card-title class="note">Fundoo </mat-card-title>
      </mat-card-header>

      <mat-card-header class="header1">
        <mat-card-title class="note1">Sign In</mat-card-title>
        <mat-card-subtitle>Welcome to Fundoo</mat-card-subtitle>
      </mat-card-header>

      <div class="form">
        <mat-form-field appearance="outline" color="accent">
          <label for="Email"></label>
          <input matInput placeholder="Enter your email" [formControl]="email" [(ngModel)]="model.email" required>
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline" color="accent">
          <label for="password"></label>
          <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [(ngModel)]="model.password" autocomplete="off"
            required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
      </div>

      <div class="button">
        <button class="loginbtn" mat-button (click)="login()">Login</button>
      </div>

      <div style="width: 100%">
        <!-- <mat-divider></mat-divider> -->
        <!-- <span style="width: 100%">or</span> -->
        <!-- <mat-divider></mat-divider> -->

        <!-- <span>
          <mat-divider ></mat-divider>
       </span> 
       <span>or</span>
       <span>
          <mat-divider ></mat-divider>
       </span>  -->

      </div >
      <a  class="pass" href="/forget"  id="Forgot-password">Forgotten password..?</a>
      <p class="para" >Don't have account</p> 
      <mat-icon class=" icon" matSuffix>create</mat-icon>
      <a class="create" href="/register" id="create account">create one! </a> 
    </div>
    
    
  </mat-card>
</div>


