 
  <div fxLayout="row" fxLayoutAlign="space-around start" fxFlex="50">

      <button id="Remaind" matTooltip="Remaind me" mat-icon-button [matMenuTriggerFor]="menu4">
        <mat-icon>notification_important</mat-icon>
      </button>
      <mat-menu #menu4="matMenu" class="matmenu">
        <button class="arrow" mat-stroked-button>
          <mat-icon matTooltip="go back"> arrow_back</mat-icon>
        </button>
        <p>Pick date & time</p>
        <mat-divider></mat-divider>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>


      </mat-menu>

      <button class="collaborator" matTooltip="collaborator" mat-icon-button>
        <mat-icon>person_add</mat-icon>
      </button>

      <button [matMenuTriggerFor]="menu5" matTooltip="change color" mat-icon-button >
        <mat-icon>color_lens</mat-icon>
      </button>
      <mat-menu #menu5="matMenu" class="colorsMenu" (click)="colorHit()" >
        <button mat-mini-fab matTooltip="white" class="white" style="background-color :#FFFFFF;"> </button>
        <button mat-mini-fab matTooltip="red" class="red" style="background-color: #FF0000"></button>
        <button mat-mini-fab matTooltip="orange" class="orange" style="background-color: rgb(236, 169, 45)"></button>
        <button mat-mini-fab matTooltip="yellow" class="yellow" style="background-color: #FFFF00"></button><br>
        <button mat-mini-fab matTooltip="green" class="green" style="background-color: #228B22"></button>
        <button mat-mini-fab matTooltip="teal" class="teal" style="background-color:#008080"></button>
        <button mat-mini-fab matTooltip="Blue" class="blue" style="background-color:#0000FF" ></button>
        <button mat-mini-fab matTooltip="Dark Blue" class="darkblue" style="background-color:#0000CD"></button><br>
        <button mat-mini-fab matTooltip="purple" class="purple" style="background-color: #800080 "></button>
        <button mat-mini-fab matTooltip="pink" class="pink" style="background-color:#FFC0CB "></button>
        <button mat-mini-fab matTooltip="Brown" class="Brown" style="background-color: #A52A2A "></button>
        <button mat-mini-fab matTooltip="Gray" class="gray" style="background-color: #808080" ></button>

      </mat-menu>

      <button matTooltip="add image" mat-icon-button>
        <mat-icon>insert_photo</mat-icon>
      </button>


      <button mat-icon-button [matMenuTriggerFor]="menu2" matTooltip="more">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu2="matMenu">
        <button mat-menu-item>
          <span>Delete note</span>
        </button>
        <button mat-menu-item>
          <span>Add label</span>
        </button>
        <button mat-menu-item disabled>
          <span>Add drawing</span>
        </button>
        <button mat-menu-item>
          <span>Make a copy</span>
        </button>
        <button mat-menu-item>
          <span>Show checkboxes</span>
        </button>
        <button mat-menu-item>
          <span>Copy to google docs</span>
        </button>
      </mat-menu>

      <!-- <button mat-button (click)="messageHit()" >close</button> -->
    </div> 