
<!-- <app-maincard></app-maincard> -->




<div class="mininote"  fxLayout="row" fxLayoutAlign="center center" fxFlex.xs="98"  fxFlex="30">
  <div *ngFor= "let items of card ; let i = index"  >
  <div>
    <mat-card  class="minicard" >
        <div fxLayout="column"  >
                <div fxFlex="90" (click)="openDialog(item)">{{items.title}}</div>
            <div fxFlex="10" ><button mat-icon-button></button>
    </div>
    </div>
        <mat-card-content fxLayout="column"> 
                <div>{{items.description}}</div>
            <app-icon-list fxFlex="40" fxLayout="row" fxLayoutAlign="space-between end" >
    
                </app-icon-list>
    </mat-card-content> 
    </mat-card>
 </div> 
</div>
</div>
<!-- 

<div  fxLayout="row" >
<div class="mininote" fxFlex.xs="98" *ngFor= "let items of card ; let i = index" >

        <mat-card  class="minicard1" >
            <p >
                {{items.title}}
            </p >
            <p >
                {{items.description}}
            </p>
            <app-icon-list fxFlex="40" fxLayout="row" fxLayoutAlign="space-between end" >
    
            </app-icon-list>
        </mat-card>
    </div>

    </div> -->
<!-- 
    <div class="mininote"  fxLayout="row" fxLayoutAlign="center center" fxFlex.xs="98"  fxFlex="30">

            <mat-card  class="minicard2" >
                <p >
                    ffdf
                </p >
                <p >
                    kumar
                </p>
                <app-icon-list fxFlex="40" fxLayout="row" fxLayoutAlign="space-between end" >
        
                </app-icon-list>
            </mat-card>
        </div> -->