// note card css
.matcard{
   
    margin-top: 20px;
}
.Border{
    border-color: white;
}


[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

.maincard{
    width: 60%;
    color: rgb(173, 166, 166);
    //margin-top: 30px;
}





.minicard{
    background-color:brown;
    margin-top: 10px;
    height: 150px;
    width: 280px;
}


.minicard1{
    background-color: teal;
    margin-top: 10px;
    height: 150px;
    width: 280px;
}


.minicard2{
    background-color: green;
    margin-top: 10px;
    height: 150px;
    width: 280px;
}
// .mininote{
//     width: 600px;
// }



.card{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px solid black;
}