<!-- <app-maincard></app-maincard> -->



<div>
    <div class="mininote" fxLayout="row wrap" fxLayoutAlign="center center" fxFlex.xs="98" fxLayoutGap="10px" fxFlex="80">

        <div *ngFor="let items of cardsArray | searchBar : Search; let i = index">
            <div [ngClass]="{'grid':toggle,'list':!toggle}">
                <mat-card class="minicard" [style.backgroundColor]="items.color">
                    <div>
                        <div fxLayout="row">
                            <div (click)="getNoteId(items)" >{{items.title}}</div>
                            <div fxLayout="row" fxLayoutAlign="end start"><button mat-icon-button>
                                    <!-- <img src="../../../assets/image/pinbar.svg" > -->
                                </button>
                            </div>
                        </div>

                        <div>{{items.description}}</div>
                        <div class="icons-div">
                            <app-icon-list fxLayout="row" [card]="items" fxLayoutAlign="space-between end" (colorEmit)="Changescolor($event)" (colorchange)="colorChange($event)"
                                (childObject)="update($event)">

                            </app-icon-list>
                        </div>
                    </div>
                    <!-- <app-add-archive [archive]="items" (archiveEmit)="deleteEvent($event)"></app-add-archive> -->

                </mat-card>
            </div>
        </div>
    </div>
</div>

<!-- 
<div >
    <div class="mininote" fxLayout="row wrap" fxLayoutAlign="center center" fxFlex.xs="98" fxLayoutGap="10px" fxFlex="80">
        <div *ngFor="let items of trashcards ; let i = index">
            <div>
                <mat-card class="minicard" [style.backgroundColor]="items.color">
                    <div>
                        <div fxLayout="row">
                            <div (click)="openDialog(item)">{{items.title}}</div>
                            <div fxLayout="row" fxLayoutAlign="end start"><button mat-icon-button>
                                </button>
                            </div>
                        </div>

                        <div>{{items.description}}</div>
                        <div class="icons-div">
                            <app-icon-list fxLayout="row" [card]="items" fxLayoutAlign="space-between end" (colorEmit)="Changescolor($event)"
                                (childObject)="update($event)">

                            </app-icon-list>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div> -->